.bigpage {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h1{
    font-family: "Lucida Console", "Courier New", monospace;
    color: crimson;
    font-size: 46px;
    font-weight: bolder;
    background-color:black;
    border: 10px solid ;
    border-radius: 30px;
    padding: 20px;
}

.recipe-list {

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    background-color:black;
    border: 10px solid ;
    border-radius: 30px;
    padding: 50px;
    color: crimson;
    
}


h4 {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 50px;
    font-size: 12px;
}


a {
    background-color:black;
    border: 10px solid ;
    border-radius: 30px;
    padding: 20px;
    color: crimson;
    text-align: center;
    align-content: center;

}

a {
    color: crimson;
    position: relative;
    text-decoration: none;
  }
  
  a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  



  html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg,rgb(158, 100, 101) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  

  
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }